{{title}}

<button (click)="metodoPrueba()">boton prueba</button>

<ul>
<li *ngFor="let estudiante of listadoEstudiante;let i=index;">
  ngFor index: {{i}} value : {{estudiante.name}}
</li>
</ul>

<router-outlet></router-outlet>
